@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', arial, sans-serif;

}

[data-theme="dark"] {
    --bg-dark: oklch(0.15 0.02 255);
    --bg: oklch(0.15 0.02 255);
    --bg-light: oklch(0.2 0.02 255);
    --text: oklch(0.96 0.04 255);
    --text-muted: oklch(0.76 0.04 255);
    --card-text: oklch(0 0.01 255);
    --card-text-muted: oklch(0.4 0.04 255);
    --card-info: oklch(0.44 0.05 260);
    --highlight: oklch(0.5 0.04 255);
    --border: oklch(0.4 0.04 255);
    --border-muted: oklch(0.3 0.04 255);
    --primary: oklch(0.7 0.1 255);
    --secondary: oklch(0.76 0.1 75);
    --danger: oklch(0.7 0.05 30);
    --warning: oklch(0.7 0.05 100);
    --success: oklch(0.7 0.05 160);
    --info: oklch(0.7 0.05 260);
}

[data-theme="light"] {
    --bg-dark: oklch(0.92 0.02 255);
    --bg: oklch(0.96 0.02 255);
    --bg-light: oklch(1 0.02 255);
    --text: oklch(0.15 0.04 255);
    --text-muted: oklch(0.4 0.04 255);
    --card-text: oklch(1 0.01 255);
    --card-text-muted: oklch(0.8 0.04 255);
    --card-info: oklch(0.85 0.05 260);
    --highlight: oklch(1 0.04 255);
    --border: oklch(0.6 0.04 255);
    --border-muted: oklch(0.7 0.04 255);
    --primary: oklch(0.4 0.1 255);
    --secondary: oklch(0.4 0.1 75);
    --danger: oklch(0.5 0.05 30);
    --warning: oklch(0.5 0.05 100);
    --success: oklch(0.5 0.05 160);
    --info: oklch(0.5 0.05 260);
}

body {
    background-color: var(--bg-dark);
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    background-color: var(--bg);
    box-shadow: 0 0 6px var(--border-muted);
    height: 6vh;
    position: relative;
    font-weight: 300;
}

.left {
    margin-right: 3rem;
    position: absolute;
    left: 1.5rem;
}

.left span {
    font-size: 2rem;
    cursor: pointer;
    transition: 0.15s;
    color: var(--text);
}

.left span:hover {
    scale: 1.1;
    color: var(--success);
}


.header-container .center a {
    color: var(--text);
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.15s;
}

.links {
    display: flex;
    gap: 1rem;
}

.links li {
    list-style: none;
}

.links li:hover a {
    background-color: var(--secondary);
    color: var(--card-text);
    box-shadow: 0 0 5px var(--border-muted);
}

.right {
    position: absolute;
    right: 30px;
    top: 35%;
}

.dark-mode {
    gap: 0.25rem;
    top: -1rem;
    left: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
}

.dark-mode-button {
    width: 40px;
    height: 20px;
    background-color: var(--text);
    border-radius: 50px;
    position: relative;
    box-shadow: 0 0 5px var(--border-muted);
}

.dark-mode-button::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: var(--highlight);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50px;
    z-index: 999;
    box-shadow: 0 0 3px var(--highlight);
    transition: all 0.3s;
}

.dark-mode:hover .dark-mode-button::before {
    right: 50%;
}





/*          main page         */

body {
    height: 100vh;
}

main {
    display: flex;
    height: 94vh;
    transition: all 0.3s ease;
}


.side-bar-container {
    display: none;
    flex-direction: column;
    background-color: var(--bg-light);
    width: 300px;
    box-shadow: 0 0 10px var(--border-muted);
    transition: all 0.3s ease;
    padding: 1rem;
    position: relative;

}

.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
}

.search-bar-container input {
    padding: .5rem;
    border: none;
    outline: none;
    border-radius: 0 10px 10px 0;
    background-color: var(--border-muted);
    font-size: 1rem;
}

.search-bar-container input::placeholder {
    font-size: 1rem;
    color: var(--card-text-muted);
}

.search-bar-container span {
    background-color: var(--border-muted);
    padding: .35rem;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    color: var(--text-muted);
}

.loc {
    font-weight: 600;
    color: var(--text-muted);
    margin-left: .5rem;
    margin-bottom: 1rem;
}

.loc-container {
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.loc-temp {
    margin-left: auto;
    margin-right: 5px;
    font-weight: 600;

}

.loc-item {
    display: flex;
    /* gap: 0.25rem; */
    color: var(--text);
    transition: all 0.3s;
    border-radius: 7px;
    padding: 1rem;
}

.loc-item:hover {
    transform: scale(1.1);
    /* border: 1px solid var(--border); */
    box-shadow: 0 0 5px var(--border);
}



.change-temp {
    position: absolute;
    gap: 0.25rem;
    bottom: 1rem;
    left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    z-index: 999;

}

.change-temp-button {
    width: 40px;
    height: 20px;
    background-color: var(--text);
    border-radius: 50px;
    position: relative;
    box-shadow: 0 0 5px var(--border-muted);
    transition: all 0.3s;
}

.change-temp-button::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: var(--highlight);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50px;
    z-index: 999;
    box-shadow: 0 0 7px var(--bg-dark);
    transition: all 0.3s;
}

.change-temp:hover .change-temp-button::before {
    right: 50%;

}





.weather-card-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}


.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}


.card {
    background-color: var(--primary);
    padding: 7rem 3rem;
    border-radius: 20px;
    box-shadow: 0 0 5px var(--border-muted);
    position: relative;
    width: 440px;
    height: 800px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card:hover {
    scale: 1.05;
}

.card h1 {
    color: var(--card-text);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 6rem;

}

.card h2,
.card h3 {
    color: var(--card-text);
    position: absolute;
    bottom: 25%;
    font-weight: 800;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

.card h3 {
    bottom: 32%;
    color: var(--card-text-muted);
    font-size: 2.5rem;
}

.predictions {
    color: var(--card-info);
    font-weight: 600;
    position: absolute;
    bottom: 5%;
    left: 10%;
    display: flex;
    flex-direction: column;
    width: 82%;
    row-gap: 3px;
    font-size: 2rem;
}

.predictions p {
    display: flex;
    justify-content: space-between;

}

.card img {
    position: absolute;
    top: 10px;
    height: 250px;
    width: 400px;
    right: -70px;
}



.today-temp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2rem;
    padding: 1rem;
    margin-top: 3rem;
}

.temp-container {
    background-color: var(--card-info);
    padding: 1.5rem;
    color: var(--card-text);
    border-radius: 20px;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px var(--border-muted);
    transition: 0.3s;
    cursor: pointer;

}

.temp-container:hover {
    scale: 1.1;
}

.temp-container span {
    align-self: center;
    margin-bottom: 5px;
    color: var(--border-muted);
    font-size: 2.5rem;

}

.temp {
    font-weight: 600;
    color: var(--text);
    font-size: 2.5rem;

}

.time {
    margin-bottom: 3px;
    font-size: 0.8rem;
    color: var(--info);
    font-size: 2rem;

}